<!DOCTYPE HTML>
<html ng-app="app">
<head>
<title>相册</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/public/css/main.css" />
<script src="/public/widgets/layer.m/layer.m.js"></script>
<script src="/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/public/widgets/dropload/dropload.min.js"></script>
<script src="/public/widgets/angularjs/angular.min.js"></script>
<script src="/public/widgets/angularjs/angular-touch.min.js"></script>
<style type="text/css">
a,img{border:0;}
#shadowpic{width:540px;height:auto;overflow:hidden;background:#fff;}
#shadowpic ul{display:block;width:130px;height:120px;float:left;overflow:hidden;position:relative;list-style: none;margin:10%;}
#shadowpic li{width:60px;height:60px;position:relative;float:left;z-index:0;border-bottom:1px solid #fff;border-right:1px solid #fff;margin-bottom:1px}
#shadowpic li img{position:absolute;left:0;top:0;z-index:20;}
#shadowpic li img.default{z-index:30;border-radius:10px}
#shadowpic .title{text-align:center;}
</style>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
		.value('appValue', {
		    index: 1,
		    size: 10
		})
		.factory('agentRemote',['$http','appValue',function($http, appValue){
			return {
				getData:function(index,size,searchText){
					return $http({
						method:'GET',
						url:'/mobile/ActivityService/queryAlbumList',
						params:{
							PAGE_INDEX: index || appValue.index,
                            PAGE_SIZE: size || appValue.size
						}
					});
				}
				
			}
		}])
		.controller('MainController',['$scope','appValue','agentRemote','$timeout',function($scope, appValue, agentRemote,$timeout){
			 $scope.lists = [];
			 $scope.nextPage = function(me){
				 agentRemote.getData(++appValue.index).then(function(response){
					 $scope.lists = $scope.lists.concat(response.data.data.data);
					 if (me && me.resetload)
                         me.resetload();
				 },function(response){
					 
				 })
			 };
			 //init page function
			   $scope.initPage = function (me) {
				   appValue.index = 1;
		            agentRemote.getData(1).then(function (response) {
                        $scope.total = response.data.data.total;
                        $scope.lists = response.data.data.data;
                        console.log($scope.lists);
                        if (me && me.resetload)
                            me.resetload();

                    }, function (response) {
                        //err
                    });
			 };
			 $scope.initPage();
			 $('#scroller').dropload({
                 domUp: {
                     domClass: 'dropload-up',
                     domRefresh: '<div class="dropload-refresh">↓下拉刷新</div>',
                     domUpdate: '<div class="dropload-update">↑释放更新</div>',
                     domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
                 },
                 domDown: {
                     domClass: 'dropload-down',
                     domRefresh: '<div class="dropload-refresh">↑上拉加载更多</div>',
                     domUpdate: '<div class="dropload-update">↓释放加载</div>',
                     domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
                 },
                 scrollArea: window,
                 loadUpFn: function (me) {
                     $scope.initPage(me);
                     console.log('down');
                 },
                 loadDownFn: function (me) {

                     $scope.nextPage(me);
                     console.log('up');
                 }
             });
		}])
</script>
</head>
<body ng-cloak ng-controller="MainController">
<div class="main">
 <div class="row">
 	<h3 class="padded-b-10 border-b  padded-t-10 text-default">相册列表
         <a href="/mobile/A/albumAdd"  class="btn-blue btn fr padded-r-10 padded-l-10">发布相册</a>
    </h3>
    <div class="content" id="scroller" ng-show="lists.length!=0" >
			<div id="shadowpic" style="width:200px;" ng-repeat="album in lists">
			    <a href="/mobile/A/albumImageList?albumId={{album.albumId}}"> 
			    <h6 class="padded-b-10   padded-t-10 ">{{album.albumTitle}}</h6>
				<ul>
					<li>
						<div ng-if="album.templateImageList[0]!=null">
							<img src="{{album.templateImageList[0].fileUrl}}" width="60" height="60" class="default" />
						</div>
						<div ng-if="album.templateImageList[0]==null">
							<img src="/public/images/mobile/noshow.jpeg" width="60" height="60" class="default" />
						</div>
			        </li>
			        <li>
			        	<div ng-if="album.templateImageList[1]!= null">
			        		<img src="{{album.templateImageList[1].fileUrl}}" width="60" height="60" class="default" />
			        	</div>
			        	<div ng-if="album.templateImageList[1]== null">
			        		<img src="/public/images/mobile/noshow.jpeg" width="60" height="60" class="default" />
			        	</div>
			        </li>
			        <li>
			        	<div ng-if="album.templateImageList[2]!= null">
			        		<img src="{{album.templateImageList[2].fileUrl}}" width="60" height="60" class="default" />
			        	</div>
			        	<div ng-if="album.templateImageList[2]== null">
			        		<img src="/public/images/mobile/noshow.jpeg" width="60" height="60" class="default" />
			        	</div>
			        </li>
			        <li>
			        	<div ng-if="album.templateImageList[3]!= null">
			        		<img src="{{album.templateImageList[3].fileUrl}}" width="60" height="60" class="default" />
			        	</div>
			        	<div ng-if="album.templateImageList[3]== null">
			        		<img src="/public/images/mobile/noshow.jpeg" width="60" height="60" class="default" />
			        	</div>
			        </li>  
				</ul>
				</a>
			</div>
			
			<div class="dropload-down">
		      	<div class="dropload-refresh">
	                  当前<span ng-bind="lists.length"></span>条记录 总共<span ng-bind="total"></span>条记录(滑动刷新)
		       </div>
      		</div>
    </div> 
 </div>
</div>
</body>
</html>