<!DOCTYPE HTML>
<html ng-app="app">
<head>
<title>相册添加</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>

<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/dw/public/css/main.css" />
 <script src="/dw/public/widgets/layer.m/layer.m.js"></script>
<script src="/dw/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/dw/public/widgets/dropload/dropload.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular-touch.min.js"></script>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
	   .factory('valid',function(){
		   return {
			   albumInfo:function(obj){
				   if(obj.albumTitle == ''){
					   return {flag:false, msg: '相册标题不能为空'};
				   }
				   return {flag: true, msg: '验证通过'};
			   }
		   }
	   })
	   .factory('remote',['$http',function($http){
		   return {
			   saveAlbum:function(album){
				   return $http({
					   method:'POST',
					   url:'/dw/mobile/ActivityService/saveAlbum',
					   params: {
						   albumTitle:album.albumTitle,
						   albumTemplateId:album.albumTemplateId
                       }
					  
				   })
			   },
               msgpush:function(albumInfo){
              	 return $http({
                       method: 'GET',
                       url: '/dw/mobile/ActivityService/albumPushMsg',
                       params: {
                      	 albumTitle:albumInfo.albumTitle,
                      	 createTime:albumInfo.createTime
                       }
                   })
              }
		   }
	   }])
	   .controller('MainController',['$scope','valid','remote','$http',function($scope,valid,remote,$http){
		   $scope.album = {
				   albumTitle:'',
				   albumTemplateId:'1'
		   }
		   $scope.albumInfo={};
		   $scope.saveAlbum = function(){
			   var vaildRes = valid.albumInfo($scope.album);
			   if(vaildRes.flag){
				   remote.saveAlbum($scope.album).then(function(res){
					   if (res.data.ret == '-1') {
						   layer.open({
                               content: res.data.desc,
                               btn: ['知道了']
                           });
					   }else{
						   console.log(res.data.data);
						   $scope.albumInfo = res.data.data
                       		remote.msgpush($scope.albumInfo);
						   layer.open({
                               content: '发布成功',
                               btn: ['确定'],
                               end: function () {
                                   location.href = "/dw/mobile/A/albumList";
                               }
                           });
					   }
				   })
			   }else{
				   layer.open({
                       content: vaildRes.msg,
                       btn: ['知道了']
                   });
			   }
		   }
	   }])
</script>
</head>
<body ng-controller="MainController">
<div class="main bg-white border-b">
  <div class="row">
    <h3 class="padded-b-10 padded-t-10 text-default font-weight-b">相册标题</h3>
    <div class="border padded-3 margin-b-15">
      <input type="text" placeholder="请输入相册标题" ng-model="album.albumTitle"/>
    </div>
  </div>
   <div class="margin-t-15 margin-b-15 btnbox">
    <input type="button" class="btn btn-white line-height-2" onClick="window.location='/dw/mobile/A/albumList'" value="取消"/>
    <input type="button" class="btn btn-blue line-height-2 margin-l-15" ng-click="saveAlbum()" value="发布"/>
    </div>
</div>
</body>
</html>
