<!DOCTYPE HTML>
<html ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>

<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/dw/public/css/main.css" />
<link rel="stylesheet" href="/dw/public/css/weui.css" />
<link rel="stylesheet" href="/dw/public/css/weui2.css"/>
<link rel="stylesheet" href="/dw/public/css/weui3.css"/>
<script src="/dw/public/widgets/layer.m/layer.m.js"></script>
<script src="/dw/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/dw/public/widgets/dropload/dropload.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
 <script src="/dw/public/js/zepto.min.js"></script> 
<title>团购</title>
<style type="text/css">
	.icon_lists .icon{
  font-size: 24px;
  line-height: 40px;
  margin: 5px 0;
  color:#18b4ed;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;

}
</style>
<script>
        angular.module('app', ['ngTouch'])
                .value('appValue', {
                    index: 1,
                    size: 10
                })
                .factory('agentRemote', ['$http', 'appValue', function ($http, appValue) {
                    return {
                        getData: function(index, size, searchText) {
                            return $http({
                                method: 'GET',
                                url: '/dw/mobile/ActivityService/queryGroupBuyList',
                                params: {
                                    PAGE_INDEX: index || appValue.index,
                                    PAGE_SIZE: size || appValue.size
                                }
                            })
                        },
                        getGroupItemData: function(groupBuyId) {
                            return $http({
                                method: 'GET',
                                url: '/dw/mobile/ActivityService/queryGroupItemList',
                                params: {
                                	groupBuyId: groupBuyId
                                }
                            })
                        },
                        modify:function(gradeItem){
                       	 return $http({
                                method: 'GET',
                                url: '/dw/mobile/ActivityService/modifyGroup',
                                params: {
                               	 gradeItem: gradeItem
                                }
                            })
                       },
                        saveGroupBuyOrder: function(groupItems) {
                            return $http({
                                method: 'GET',
                                url: '/dw/mobile/ActivityService/saveGroupBuyOrder',
                                params: {
                                	groupItems: groupItems
                                }
                            })
                        }
                    }
                }])
                .controller('MainController', ['$scope', 'appValue', 'agentRemote','$timeout', function ($scope, appValue, agentRemote,$timeout) {
                	$scope.lists = [];
                    $scope.master='';
                    $scope.groupItems = [];
                    $scope.groupItemsTotalPrice=0;
                    $scope.isRunning=true; //标注团购是否结束
                    $scope.itemNum = 0;
                    $scope.class='${wxUser.currentClass.classId}';
                    $scope.showGroupFlag = false;
                    $scope.isRunningOrder = false;
                    console.log("isCommittee"+${wxUser.isCommittee});
                    //next page function
                    $scope.nextPage = function (me) {
                        agentRemote.getData(++appValue.index).then(function (response) {
                            $scope.lists = $scope.lists.concat(response.data.data.data);
                            $scope.master = $scope.lists[0].groupBuyInfo.wxOpenId;
                            if(${wxUser.isCommittee}){
                            	loadScript("/dw/public/js/slideleft.js", function() {})
                            }
                            if (me && me.resetload)
                                me.resetload();

                        }, function (response) {
                            //err
                        });
                    };
                    //init page function
                    $scope.initPage = function (me) {
                        appValue.index = 1;
                        agentRemote.getData(1).then(function (response) {
                            console.log(response);
                        	$scope.total = response.data.data.total;
                            $scope.lists = response.data.data.data;
                            if($scope.lists.length >0){
                            	 $scope.master = $scope.lists[0].groupBuyInfo.wxOpenId;
                            }
                            if(${wxUser.isCommittee}){
                            	loadScript("/dw/public/js/slideleft.js", function() {})
                            }
                            if (me && me.resetload)
                                me.resetload();

                        }, function (response) {
                            //err
                        });
                    };
                    //search function
                    var search = function (searchText, me) {
                        if (!searchText) {
                            //reset
                            $scope.initPage();
                        }
                        else {
                            agentRemote.getData(1, appValue.size, $scope.searchText).then(function (response) {
                                $scope.total = response.data.data.total;
                                $scope.lists = response.data.data.data;
                                if (me && me.resetload)
                                    me.resetload();
                            }, function (response) {
                                //err
                            });
                        }
                    };


                    var timeout = null;
                    //watch searchText
                    $scope.$watch('searchText', function (newValue, oldValue) {
                        if (newValue != oldValue) {
                            if (!timeout) {
                                timeout = $timeout(function () {
                                    search(newValue);
                                    timeout = null;
                                }, 200);
                            }

                        }
                    });
                    //exec init
                    $scope.initPage();
                    $scope.modifyGroup = function(){
                   	 console.log($scope.groupItems);
                   	 agentRemote.modify($scope.groupItems).then(function(response){
                   		 layer.open({
                                content: '修改成功',
                                btn: ['确定'],
                                end: function () {
                                	$scope.initPage();
                                	$scope.groupBuyFlag=false;
                                
                                }
                            });
                   	 })
                   }
                   $scope.modify = function(groupBuyId,isRunning){
                   	$scope.groupBuyFlag=true;
                   	$scope.groupmodifyFlag=true;
                   	agentRemote.getGroupItemData(groupBuyId).then(function (response) {
                   		if(response.data.ret=="0"){
                   			  $scope.groupItems = response.data.data.data;
                   			  getTotalPrice($scope.groupItems);
                   		}else{
                   			layer.open({
                                   content: response.data.desc,
                                   btn: ['知道了']
                               });
                   		}
                       
                       }, function (response) {
                           //err
                       });
                   }
                    //点击团或已团按钮触发事件
                    $scope.buy=function(groupBuyId,isRunning,hasOrderFlag,isRuningOrder){
                    	$scope.isRunning=isRunning;
                    	$scope.groupBuyFlag=true;
                    	$scope.groupmodifyFlag=false;
                    	$scope.showGroupFlag = hasOrderFlag;
                    	$scope.isRunningOrder = isRuningOrder;
                    	agentRemote.getGroupItemData(groupBuyId).then(function (response) {
                    		if(response.data.ret=="0"){
                    			  $scope.groupItems = response.data.data.data;
                    			 
                    			  getTotalPrice($scope.groupItems);
                    			  console.log($scope.groupItems);
                    		}else{
                    			layer.open({
                                    content: response.data.desc,
                                    btn: ['知道了']
                                });
                    		}
                        
                        }, function (response) {
                            //err
                        });
                    };
                    
                    //团购确定
                    $scope.groupBuy=function(){
                    	var flag=false;
                    	angular.forEach($scope.groupItems,function(item,index){  
                            if(item.isGroupBuy){
                            	flag=true;
                            }  
                         }); 
                    	if(flag){
                    		agentRemote.saveGroupBuyOrder($scope.groupItems)
                                .then(function (res) {
                                    if (res.data.ret == '-1') {
                                        layer.open({
                                            content: res.data.desc,
                                            btn: ['知道了']
                                        });
                                    }
                                    else {
                                        layer.open({
                                            content: '团购成功',
                                            btn: ['确定'],
                                            end: function () {
                                            	$scope.initPage();
                                            	$scope.groupBuyFlag=false;
                                            
                                            }
                                        });
                                    }
                                }, function () {
                                    layer.open({
                                        content: '提交异常',
                                        btn: ['知道了']
                                    });

                                }).finally(function () {
                                    layer.close(index);
                                });
                    	}else{
                    		$scope.groupBuyFlag=false;
                    	}
                    	
                    };
                    //团购条目选择
                    $scope.checkboxItemFun = function(checked,index) {
                    	 $scope.groupItems[index].isGroupBuy = checked;
                    	 getTotalPrice($scope.groupItems);
                    };
                    var getTotalPrice=function(groupItems){
                    	var groupItemsTotalPrice=0;
                   	 	angular.forEach(groupItems,function(item,index){  
                           if(item.isGroupBuy){
                        	   var doubPrice = parseFloat(item.price);
                              	groupItemsTotalPrice+=(doubPrice*item.itemNum)
                           }  
                        }); 
                   	    $scope.groupItemsTotalPrice=groupItemsTotalPrice.toFixed(2);
                    }
                    $scope.close= function () {
                    	$scope.groupBuyFlag=false;
                    };
                    $scope.add = function(index){
						 $scope.groupItems[index].itemNum++;
						 getTotalPrice($scope.groupItems);
                   }
                   $scope.remove = function(index){
                   	if($scope.groupItems[index].itemNum >1){
                   		$scope.groupItems[index].itemNum--;
                   	}
                   	 getTotalPrice($scope.groupItems);
                   }
                    //init list for item
                    //init dropload plugin
                    //it's not the best way,just try it
                    $('#scroller').dropload({
                        domUp: {
                            domClass: 'dropload-up',
                            domRefresh: '<div class="dropload-refresh">↓下拉刷新</div>',
                            domUpdate: '<div class="dropload-update">↑释放更新</div>',
                            domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
                        },
                        domDown: {
                            domClass: 'dropload-down',
                            domRefresh: '<div class="dropload-refresh">↑上拉加载更多</div>',
                            domUpdate: '<div class="dropload-update">↓释放加载</div>',
                            domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
                        },
                        scrollArea: window,
                        loadUpFn: function (me) {
                            $scope.initPage(me);
                            console.log('down');
                            if(${wxUser.isCommittee}){
                            	loadScript("/dw/public/js/slideleft.js", function() {})
                            }
                        },
                        loadDownFn: function (me) {
                            $scope.nextPage(me);
                            console.log('up');
                            if(${wxUser.isCommittee}){
                            	loadScript("/dw/public/js/slideleft.js", function() {})
                            }
                        }
                    });
                }]);
    </script>
</head>
<body ng-cloak ng-controller="MainController" style="background-color:white;">
<div class="main" style="width:98%">
  <div class="row">
    <h3  class="padded-b-10 border-b  padded-t-10 text-default" style="height:42px;">
      <input ng-if="${wxUser.isCommittee}" ng-show="true || ${wxUser.isCommittee}==true" type="button" class="btn-blue btn fr" onClick="window.location='/dw/mobile/a/groupAdd'" value="发布新团购"/>
    </h3>
    <div class="content" id="scroller">
    <div class="weui_cells"  ng-repeat="item in lists">
	    <a href="/dw/mobile/A/groupDetail?groupBuyId={{item.groupBuyInfo.groupBuyId}}"> 
	     <ul class="list weui_cell slidelefts" >
	      <li class="weui_cell_bd weui_cell_primary">
	          <h3 class="padded-t-10 font-weight-b ellipsis-2 text-main">{{item.groupBuyInfo.groupBuyTitle}}</h3>
	      	  <p class="padded-t-5">
           		<span class="text-auxiliaryed font-size-13">截止时间：{{item.groupBuyInfo.groupBuyEndTime}}</span>
           		<span class="text-warning padded-l-10 font-size-13">{{item.groupBuyInfo.groupBuyStateInfo}}</span>
           		<span ng-if="${wxUser.isParent}" class="text-warning font-size-13">
           			<input type="button" class=" btn wid3 bg-warning" ng-click="buy('{{item.groupBuyInfo.groupBuyId}}',{{item.isRunning}},{{item.hasOrderFlag}},{{item.isRunningOrder}})"  
	             		value="团"   ng-show="item.isRunning && !item.hasOrderFlag"/>
		            <input type="button" class=" btn wid3 bg-success" ng-click="buy('{{item.groupBuyInfo.groupBuyId}}',{{item.isRunning}},{{item.hasOrderFlag}},{{item.isRunningOrder}})"  
		             		value="修改" ng-show="item.hasOrderFlag && item.isRunning"/>
           			 <input type="button" class=" btn wid3 bg-warning" ng-click="buy('{{item.groupBuyInfo.groupBuyId}}',{{item.isRunning}},{{item.hasOrderFlag}},{{item.isRunningOrder}})"  
             		value="已团" ng-show="item.hasOrderFlag && !item.isRunning"/>
             		<input type="button" class=" btn wid3 bg-warning" ng-click="buy('{{item.groupBuyInfo.groupBuyId}}',{{item.isRunning}},{{item.hasOrderFlag}},{{item.isRunningOrder}})"  
             		value="已团" ng-show="item.isRunningOrder"/>
           		</span>
        	  </p>
	      </li>
	       <div class="slideleft" ng-show="${wxUser.wxOpenId} == {{item.groupBuyInfo.wxOpenId}}">
              		<span class="bg-warning f-white dels" style="width:100px;" ng-click="modify('{{item.groupBuyInfo.groupBuyId}}',{{item.isRunning}})" >已团</span>
               </div>
	     </ul>
	    </a> 
	    </div>
      <!-- <ul>
        <li class="border-b posrel"  ng-repeat="item in lists">
          <div class="wid80">
            <a href="/dw/mobile/A/groupDetail?groupBuyId={{item.groupBuyInfo.groupBuyId}}">
            	<h3 class="padded-t-10 font-weight-b ellipsis-2 text-main">{{item.groupBuyInfo.groupBuyTitle}}</h3>
            </a>
            <p class="margin-t-10 margin-b-10">
                   <span class="font-size-13">截止时间：{{item.groupBuyInfo.groupBuyEndTime}}</span>
                   <span class="text-warning padded-l-20 font-size-13">{{item.groupBuyInfo.groupBuyStateInfo}}</span>
            </p>
          </div>
          <div ng-if="${wxUser.isParent}" class="tuan-btn"> 
            <input type="button" class=" btn wid3 bg-warning" ng-click="buy('{{item.groupBuyInfo.groupBuyId}}',{{item.isRunning}})"  
             		value="团"   ng-show="item.isRunning && !item.hasOrderFlag"/>
            <input type="button" class=" btn wid3 bg-warning" ng-click="buy('{{item.groupBuyInfo.groupBuyId}}',{{item.isRunning}})"  
             		value="已团" ng-show="item.hasOrderFlag"/>
          </div>
        </li>

      </ul> -->
    </div>
  </div>
</div>

<!--弹出框背景-->
<div class="Nboxbg" ng-show="groupBuyFlag==true"></div>
<div class="tuan-select" id="groupDiv" ng-show="groupBuyFlag==true" style="height:100%; overflow-y:scroll;position:fixed;">
  <div class="margin-15 padded-b-5">
    <!-- <div class="padded-5 clearfix posrel" ng-repeat="item in groupItems">
          <span class="select cur">
          		<input type="checkbox" ng-disabled="isRunning==false" ng-model="item.isGroupBuy" ng-click="checkboxItemFun(item.isGroupBuy,$index)" />
          </span>
          <span class="margin-l-10">{{item.groupItemTitle}}</span>
          <span class="margin-l-15 font-size-14 text-auxiliary">￥{{item.groupItemPrice}}</span>
    </div> -->
          <div class="weui-cells weui-cells_checkbox" ng-repeat="item in groupItems">
            <label class="weui-cell weui-check__label" style="width:60%" for="checkbox{{item.groupItemId}}">
                <div class="weui-cell__hd" ng-show="groupmodifyFlag==false" >
                    <input type="checkbox" class="weui-check" name="checkbox1" ng-model="item.isGroupBuy" ng-click="checkboxItemFun(item.isGroupBuy,$index)" id="checkbox{{item.groupItemId}}" />
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd" ng-show="groupmodifyFlag==false" >
                  <!--   <p>{{item.groupItemTitle}}</p> -->
                    <span class="margin-l-10">{{item.groupItemTitle}}</span>
                   <!--  <p>￥{{item.groupItemPrice}}</p> -->
                    <span class="margin-l-15 font-size-14 text-auxiliary">￥{{item.price}}</span>
                   
                </div>
            </label>
             <div class="weui-cell__bd  icon_lists " style="width:40%;float:right;margin-top:-12%;display:inline-block; "  ng-show="groupmodifyFlag==false" >
                 	 <span class="icon icon-122" style="margin-left:15%;display:inline-block; "ng-click="remove($index);"></span>
                 	  <span class="icon" style="display:inline-block;margin-left:10%">{{item.itemNum}}</span>
                 	   <span class="icon icon-36" style="margin-left:13%;display:inline-block; "ng-click="add($index);"></span>
               </div>
                <div class="weui-cell__bd" ng-show="groupmodifyFlag==true" >
                  <!--   <p>{{item.groupItemTitle}}</p> -->
                    <span class="margin-l-10">{{item.groupItemTitle}}</span>
                   <!--  <p>￥{{item.groupItemPrice}}</p> -->
                    <span class="margin-l-15 font-size-14 text-auxiliary">
                     <div class="weui-cell__bd">价格：
			            <input class="weui-input" type="number" value="{{item.groupItemPrice}}" pattern="[0-9]*" ng-model="item.groupItemPrice"/>
			        </div>
                    </span>
                </div>
        </div>
    <div class="hr margin-b-10 margin-t-10" ng-show="groupmodifyFlag==false"></div>
    <div class="padded-5 clearfix"  ><span ng-show="groupmodifyFlag==false">合计：</span><span class="text-danger" ng-show="groupmodifyFlag==false">￥{{groupItemsTotalPrice}}</span>
      <input type="button" ng-show="groupmodifyFlag==false && showGroupFlag == false && isRunningOrder == false" class="fr btn bg-success wid4 margin-r-10" ng-show="isRunning==true"  ng-click="groupBuy()" value="确定"/>
      <input type="button" ng-show="groupmodifyFlag==false && showGroupFlag == true  && isRunningOrder == false" class="fr btn bg-success wid4 margin-r-10" ng-show="isRunning==true"  ng-click="modifyGroup()" value="确定"/>
      
      
      <input type="button" class="fr btn wid4"  ng-click="close()" value="关闭"/>
    
      <!--input type="button" class="fr btn bgdefault text-default wid4"  onClick="window.location='index.html'" value="已结束"/--> 
    </div>
  </div>
</div>
<script type="text/javascript">
function loadScript(url, callback) {
    var script = document.createElement("script");
    script.type = "text/javascript";
    if (typeof(callback) != "undefined") {
        if (script.readyState) {
            script.onreadystatechange = function() {
                if (script.readyState == "loaded" || script.readyState == "complete") {
                    script.onreadystatechange = null;
                    callback();
                }
            };
        } else {
            script.onload = function() {
                callback();
            };
        }
    };
    script.src = url;
    document.body.appendChild(script);
}
</script>
</body>
</html>
