<!DOCTYPE HTML>
<html ng-app="app">
<head>
<title>通知</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>

<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/dw/public/css/main.css" />
<link rel="stylesheet" href="/dw/public/css/weui.css" />
<link rel="stylesheet" href="/dw/public/css/weui2.css"/>
<link rel="stylesheet" href="/dw/public/css/weui3.css"/>
<script src="/dw/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/dw/public/widgets/dropload/dropload.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/dw/public/js/zepto.min.js"></script> 
 <script>

        angular.module('app', ['ngTouch'])
                .value('appValue', {
                    index: 1,
                    size: 10
                })
                .factory('agentRemote', ['$http', 'appValue', function ($http, appValue) {
                    return {
                        getData: function(index, size, searchText) {
                            return $http({
                                method: 'GET',
                                url: '/dw/mobile/ActivityService/queryNoticeList',
                                params: {
                                   // custManagerId: custManagerId,
                                    PAGE_INDEX: index || appValue.index,
                                    PAGE_SIZE: size || appValue.size
                                   // searchKeyWord: searchText || ''
                                }
                            })
                        }
                    }
                }])
                 .factory('delRemote',['$http', 'appValue',function($http, appValue){
                	return {
                		delDate :function(noticeId){
                			return $http({
                				method:'POST',
                				url:'/dw/mobile/ActivityService/delNoticeById',
                				params:{
                					noticeId:noticeId
                				}
                			});
                		}
                	}
                }])
                .controller('MainController', ['$scope', 'appValue', 'agentRemote','delRemote','$timeout', function ($scope, appValue, agentRemote,delRemote,$timeout) {
                    $scope.notices = [];
                    $scope.noticesObj = {
                    		noticesId:'',
                    		noticesTitle:''
                    };
                    //next page function
                    $scope.nextPage = function (me) {
                        agentRemote.getData(++appValue.index).then(function (response) {
                            $scope.notices = $scope.notices.concat(response.data.data.data);
                            if (me && me.resetload)
                                me.resetload();

                        }, function (response) {
                            //err
                        });
                    };
                    //init page function
                    $scope.initPage = function (me) {
                        appValue.index = 1;
                        agentRemote.getData(1).then(function (response) {
                            $scope.total = response.data.data.total;
                            $scope.notices = response.data.data.data;
                            if(${wxUser.isTeacher} || ${wxUser.isCommittee}){
                           	 loadScript("/dw/public/js/slideleft.js", function() {})
                           }
                            if (me && me.resetload)
                                me.resetload();

                        }, function (response) {
                            //err
                        });
                    };
                    //search function
                    var search = function (searchText, me) {
                        if (!searchText) {
                            //reset
                            $scope.initPage();
                        }
                        else {
                            agentRemote.getData(1, appValue.size, $scope.searchText).then(function (response) {
                                $scope.total = response.data.data.total;
                                $scope.notices = response.data.data.data;
                                if (me && me.resetload)
                                    me.resetload();
                            }, function (response) {
                                //err
                            });
                        }
                    };


                    var timeout = null;
                    //watch searchText
                    $scope.$watch('searchText', function (newValue, oldValue) {
                        if (newValue != oldValue) {
                            if (!timeout) {
                                timeout = $timeout(function () {
                                    search(newValue);
                                    timeout = null;
                                }, 200);
                            }

                        }
                    });
                    $scope.showFade = function(id,title){
                    	$scope.noticesObj.noticesId = id;
                    	$scope.noticesObj.noticesTitle = title;
                    	delRemote.delDate($scope.noticesObj.noticesId).then(function(response){
                        	$scope.initPage();
                        	},function(){
                        		
                        	});
                    	//$("#dialog_title").html("确定删除,"+$scope.noticesObj.noticesTitle+"吗？")
                        //$('#iosDialog1').fadeIn(200);
                    }
                    $scope.hideFade = function(){
                    	$('#iosDialog1').fadeOut(200);
                    }
                    $scope.del = function(me){
                    	delRemote.delDate($scope.noticesObj.noticesId).then(function(response){
                    	$scope.initPage();
                    	},function(){
                    		
                    	});
                    	//$('#iosDialog1').fadeOut(200);
                    }
                    //exec init
                    $scope.initPage();
                    //init list for item
                    //init dropload plugin
                    //it's not the best way,just try it
                    $('#scroller').dropload({
                        domUp: {
                            domClass: 'dropload-up',
                            domRefresh: '<div class="dropload-refresh">↓下拉刷新</div>',
                            domUpdate: '<div class="dropload-update">↑释放更新</div>',
                            domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
                        },
                        domDown: {
                            domClass: 'dropload-down',
                            domRefresh: '<div class="dropload-refresh">↑上拉加载更多</div>',
                            domUpdate: '<div class="dropload-update">↓释放加载</div>',
                            domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
                        },
                        scrollArea: window,
                        loadUpFn: function (me) {
                            $scope.initPage(me);
                            console.log('down');
                            if(${wxUser.isTeacher} || ${wxUser.isCommittee}){
                              	 loadScript("/dw/public/js/slideleft.js", function() {})
                              }
                        },
                        loadDownFn: function (me) {
                            $scope.nextPage(me);
                            console.log('up');
                            if(${wxUser.isTeacher} || ${wxUser.isCommittee}){
                              	 loadScript("/dw/public/js/slideleft.js", function() {})
                              }
                        }
                    });
                }]);
    </script>
</head>

<body ng-cloak ng-controller="MainController" style="background-color:white;">
<div class="main">
 <div style="width:100%;position:relative;">
  	<img  src="/dw/public/images/tongzhi.png">
  	<a ng-if="${wxUser.isTeacher} || ${wxUser.isCommittee}" href="/zz/mobile/A/noticeAdd"   class="weui-btn  weui-btn_default" style="position:absolute; top:70%;  left:35%;width:35%;">发布新通知</a>
 </div>
  <div class="row" style="width:98%">
   <!--  <h3 class="padded-b-10 border-b  padded-t-10 text-default" style="background-color:white;">通知
         <a  ng-if="${wxUser.isTeacher} || ${wxUser.isCommittee}" href="/dw/mobile/A/noticeAdd"  class="btn-blue btn fr padded-r-10 padded-l-10">发布新通知</a>
    </h3> -->
    <div class="content" id="scroller" ng-show="notices.length!=0">
     <!--  <ul class="list">
        <li class="border-b" ng-repeat="notice in notices">
          <h3 class="padded-t-10 font-weight-b ellipsis-2 text-main">{{notice.noticeTitle}}
         	 <span class="text-auxiliaryed fr font-size-13" ng-bind="notice.noticeDate">05-31</span>
         	  <a ng-if="${wxUser.isTeacher} || ${wxUser.isCommittee}" id="showIOSDialog1" href="javascript:;" ng-click="showFade('{{notice.noticeId}}','{{notice.noticeTitle}}')"  class="weui-btn weui-btn_mini weui-btn_warn">删除</a>
          </h3>
            <a href="/dw/mobile/A/noticeDetail?noticeId={{notice.noticeId}}"> 
                <p class="margin-t-10 margin-b-10">{{notice.noticeContent}}</p>
            </a>
        </li>
       
      </ul> -->
	<div class="weui_cells" ng-repeat="notice in notices">
	    <ul class="list weui_cell slidelefts" >
			        <li class="weui_cell_bd weui_cell_primary " >
			          <h3 class="padded-t-10 font-weight-b ellipsis-2 text-main">{{notice.noticeTitle}}
			          </h3>
			            <a href="/dw/mobile/A/noticeDetail?noticeId={{notice.noticeId}}"> 
			              <p class="padded-t-5">
			            		<span class="text-auxiliaryed font-size-13">{{notice.createTime}}</span>
			        	  	</p>
			                <p class="margin-t-10 margin-b-10">{{notice.noticeContent}}</p>
			            </a>
			        </li>
			        <div class="slideleft">
	                		<span class="bg-red f-white dels" style="width:100px;" ng-click="showFade('{{notice.noticeId}}','{{notice.noticeTitle}}')">删除</span>
	                </div>
	      </ul>
    </div>
      <div class="dropload-down">
	      <div class="dropload-refresh">
                     当前<span ng-bind="notices.length"></span>条记录 总共<span ng-bind="total"></span>条记录(滑动刷新)
	       </div>
      </div>
       
    </div><!-- content end -->
    
  </div>
</div>
<div id="dialogs">
       <!--BEGIN dialog1-->
       <div class="js_dialog" id="iosDialog1" style="display: none;">
           <div class="weui-mask"></div>
           <div class="weui-dialog">
               <div class="weui-dialog__hd"><strong class="weui-dialog__title">删除提示</strong></div>
               <div class="weui-dialog__bd" id="dialog_title"></div>
               <div class="weui-dialog__ft">
                   <a href="javascript:;" ng-click="hideFade()" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                   <a href="javascript:;" ng-click="del()"class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
               </div>
           </div>
       </div>
</div>
</body>
<script type="text/javascript">
function loadScript(url, callback) {
    var script = document.createElement("script");
    script.type = "text/javascript";
    if (typeof(callback) != "undefined") {
        if (script.readyState) {
            script.onreadystatechange = function() {
                if (script.readyState == "loaded" || script.readyState == "complete") {
                    script.onreadystatechange = null;
                    callback();
                }
            };
        } else {
            script.onload = function() {
                callback();
            };
        }
    };
    script.src = url;
    document.body.appendChild(script);
}
</script>
</html>
