<!DOCTYPE HTML>
<html ng-app="app">
<head>
<title>成绩统计</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>

<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/dw/public/css/main.css" />
<link rel="stylesheet" href="/dw/public/css/weui.css" />
<link rel="stylesheet" href="/dw/public/css/weui2.css"/>
<link rel="stylesheet" href="/dw/public/css/weui3.css"/>
<script src="/dw/public/js/jquery-1.9.1.min.js"></script>
<script src="/dw/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/dw/public/widgets/dropload/dropload.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/dw/public/js/jquery-1.9.1.min.js"></script>
<script src="https://gw.alipayobjects.com/as/g/datavis/g2/2.3.13/index.js"></script>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
	.factory('agentRemote',['$http',function($http){
		return {
			getData:function(flag,examType){
				return $http({
					method: 'GET',
                	url: '/dw/mobile/WorkService/queryChart',
               	  	params: {
               	  	 flag:flag,
              		  examType:examType
               	  	}
				})
			}
		}
	}])
	.controller('MainController',['$scope', 'agentRemote','$timeout',function($scope, agentRemote,$timeout){
		$scope.List = [];
		$scope.height = 0;
		var chart = new G2.Chart({
			  id: 'c1',
			  forceFit: true,
			  height: 400
			});
		$scope.dochangeChart = function (flag,examType){
			var data = [];
			agentRemote.getData(flag,examType).then(function(response){
				$scope.List = response.data.data;
				for(var i = 0;i<$scope.List.length;i++){
					data[i] = $scope.List[i]
				}
				/* var chart = new G2.Chart({
					  id: 'c1',
					  forceFit: true,
					  height: 400
					}); */
					chart.source(data, {
					  exam: {
					    alias: '考试',
					    range: [0, 1]
					  },
					  temperature: {
					      alias: '分数'
					  },
					  type:{
						  alias: '科目'
					  }
					});
					chart.line().position('exam*temperature').color('type').size(3).shape('type', ['语文','数学','英语','新概念','历史','政治','生物','地理']); // 展示不同的 step 算法
					chart.changeData(data);
					window.addEventListener('orientationchange', function(event){
					    if ( window.orientation == 180 || window.orientation==0 ) {
					    	chart.changeSize('',400)
					    }
					    if( window.orientation == 90 || window.orientation == -90 ) {
					    	chart.changeSize('',$(".main").height()-180)
					    }
					});
			}, function (response) {
            //err
        	})
		}
		$scope.initPage = function(flag){
			var data = [];
			agentRemote.getData(flag,'0').then(function(response){
				$scope.List = response.data.data;
				for(var i = 0;i<$scope.List.length;i++){
					data[i] = $scope.List[i]
				}
					chart.source(data, {
					  exam: {
					    alias: '考试',
					    range: [0, 1]
					  },
					  temperature: {
					      alias: '分数'
					  },
					  type:{
						  alias: '科目'
					  }
					});
					chart.source(data);
					chart.line().position('exam*temperature').color('type').size(3).shape('type', ['语文','数学','英语','新概念','历史','政治','生物','地理']); // 展示不同的 step 算法
					chart.render();
					window.addEventListener('orientationchange', function(event){
					    if ( window.orientation == 180 || window.orientation==0 ) {
					    	chart.changeSize('',400)
					    }
					    if( window.orientation == 90 || window.orientation == -90 ) {
					    	chart.changeSize('',$(".main").height()-180)
					    }
					});
			}, function (response) {
            //err
        	})
		}
		$scope.initPage();
		$scope.changeChart = function(flag){
			 if(flag == 0){
					console.log('全部'+flag);
					$("#all").addClass("weui-btn_primary");
					$("#all").removeClass("weui-btn_default");
					$("#qizhongqimo").removeClass("weui-btn_primary");
					$("#qizhongqimo").addClass("weui-btn_default");
					$("#yuekao").removeClass("weui-btn_primary");
					$("#yuekao").addClass("weui-btn_default");
					$scope.dochangeChart(null,'0');
			}
			 else if(flag == 1){
		    	console.log('月考'+flag);
				$("#qizhongqimo").removeClass("weui-btn_primary");
				$("#qizhongqimo").addClass("weui-btn_default");
				$("#yuekao").removeClass("weui-btn_default");
				$("#yuekao").addClass("weui-btn_primary");
				$("#all").addClass("weui-btn_default");
				$("#all").removeClass("weui-btn_primary");
				$scope.dochangeChart(null,'1');
			}
		    else if(flag == 2){
				console.log('期中期末'+flag+':'+flag == false);
				$("#qizhongqimo").removeClass("weui-btn_default");
				$("#qizhongqimo").addClass("weui-btn_primary");
				$("#yuekao").removeClass("weui-btn_primary");
				$("#yuekao").addClass("weui-btn_default");
				$("#all").addClass("weui-btn_default");
				$("#all").removeClass("weui-btn_primary");
				$scope.dochangeChart(null,'2');
		    }
		}
	}]);
	
 
</script>
</head>
<body ng-cloak ng-controller="MainController">
<div class="main">
	<div class="row">
		<h3 ng-if="${wxUser.isTeacher}" class="padded-b-10 border-b  padded-t-10 text-default">${wxUser.currentClass.className}成绩曲线图
			<!-- <input  ng-if="${wxUser.isCommittee}" type="button" class="btn-blue btn fr margin-l-10" ng-click="initPage(1)" value="展示关注学生"/> -->
		</h3>
		<h3 ng-if="${wxUser.isParent} || ${wxUser.isCommittee}" class="padded-b-10 border-b  padded-t-10 text-default">${wxUser.currentStudent.studentName}成绩曲线图
		</h3>
		 <a href="javascript:;" id="all" class="weui-btn weui-btn_mini weui-btn_primary" ng-click="changeChart(0)">全部</a>
		  <a href="javascript:;" id="yuekao" class="weui-btn weui-btn_mini weui-btn_default" ng-click="changeChart(1)">月考</a>
          <a href="javascript:;" id="qizhongqimo" class="weui-btn weui-btn_mini weui-btn_default" ng-click="changeChart(2)">期中期末</a>
		<div id="c1" style="width:100%;"></div>
	</div>
</div>
</body>
</html>