<!DOCTYPE HTML>
<html ng-app="app">
<head>
<title>成绩单明细</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>

<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/dw/public/css/main.css" />
<link rel="stylesheet" href="/dw/public/css/weui.css" />
<link rel="stylesheet" href="/dw/public/css/weui2.css"/>
<link rel="stylesheet" href="/dw/public/css/weui3.css"/>
<script src="/dw/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/dw/public/widgets/dropload/dropload.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular-touch.min.js"></script>
<script>

        angular.module('app', ['ngTouch'])
                .value('appValue', {
                    index: 1,
                    size: 10
                })
                .factory('agentRemote', ['$http', 'appValue', function ($http, appValue) {
                    return {
                    	queryStudentExamGradeList: function(examId) {
                            return $http({
                                method: 'GET',
                                url: '/dw/mobile/WorkService/queryStudentExamGradeList',
                                params: {
                                    examId:examId
                                }
                            })
                        },
                        saveStudentExamGrade:function(examId,studentId,grade){
                        	return $http({
                                method: 'GET',
                                url: '/dw/mobile/WorkService/saveExamGrade',
                                params: {
                                	examId:examId,
                                	studentId:studentId,
                                	grade:grade
                                }
                            })
                        },
                        saveStatExamGrade:function(allGrade,subjectGrade){
                        	return  $http({
                        		method:'POST',
                        		url: '/dw/mobile/WorkService/saveExamStat',
                        		params:{
                        			allgrade:allGrade,
                        			subjectGrade:subjectGrade
                        		}
                        	});
                        }
                        
                    }
                }])
                .controller('MainController', ['$scope', 'appValue','agentRemote','$timeout', function ($scope, appValue,agentRemote,$timeout) {
                	$scope.studentTotal = 0;
                    $scope.studentList = [];
                    $scope.currentStudentInfo = [];
                    //班级对应信息
                    $scope.gradeInfo = [];
                    //学生对应平均分
                    $scope.studentInfoStat = [];
                    $scope.showExamGradeList = false;
                    $scope.showTeacherExamGrade = false;
                	//init page function
                    $scope.initPage = function (me) {
                		console.log("初始化学生列表")
                        appValue.index = 1;
                		var examId = ${exam.examId};
                		console.log("examId",examId);
                        agentRemote.queryStudentExamGradeList(examId).then(function (response) {
                            $scope.studentTotal = response.data.data.total;
                            $scope.studentList = response.data.data.data;
                            if (me && me.resetload)
                                me.resetload();

                        }, function (response) {
                            //err
                        });
                    };
                    $scope.initPage();
                    $scope.examGradeTotal = function(){
                    	var total = 0;
                    		for (var i = 0; i < $scope.currentStudentInfo.grade.length;i++){
                        		total += 1*$scope.currentStudentInfo.grade[i].gradeValue;
                        	}
                        	$scope.currentStudentInfo.total = total;
                    	console.log($scope.currentStudentInfo);
                    	return total;
                    }
                    $scope.editExam = function(classId,index){
                    	$scope.gradeInfo = $scope.studentList[0].exam;
                    	$scope.studentInfoStat =  $scope.studentList[0].grade;
                    	console.log($scope.studentList[0].grade);
                    	$scope.showTeacherExamGrade = true;
                    };
                    $scope.editExamGrade = function(studentId, index){
                    	$scope.currentStudentInfo = $scope.studentList[index];
                    	console.log($scope.studentList[index]);
                    	$scope.showExamGradeList = true;
                    };
                    $scope.close = function(){
                    	$scope.showExamGradeList = false;
                    	$scope.showTeacherExamGrade = false;
                    };
                    $scope.save = function(flag,me){
                    	if(flag ==1){
                    		agentRemote.saveStatExamGrade($scope.gradeInfo,$scope.studentInfoStat).then(function(response){
                    			if (me && me.resetload)
                                    me.resetload();
                    			//$scope.initPage();
                    			window.location ='/dw/mobile/W/examDetail?examId=${exam.examId}';
                    		})
                    	}else{
                    		agentRemote.saveStudentExamGrade(${exam.examId},$scope.currentStudentInfo.student.studentId,$scope.currentStudentInfo.grade).then(function(response){
                    			if (me && me.resetload)
                                    me.resetload();
                    			//$scope.initPage();
                    			window.location ='/dw/mobile/W/examDetail?examId=${exam.examId}';
                    		})
                    	}
                    	$scope.showTeacherExamGrade = false;
                    	$scope.showExamGradeList = false;
                    }
                }]);
    </script>
</head>
<body  ng-cloak ng-controller="MainController" style="background-color:white;">
<div class="main">
<div class="row" style="width:98%;">
	<h3 class="padded-b-10 border-b  padded-t-10 text-default"> ${wxUser.currentClass.className} ${exam.examTitle} 
  	 <!-- 老师 家委会拥有-->
  	 <input ng-if="${wxUser.isTeacher} || ${wxUser.isCommittee} " type="button" ng-click="editExam('{{studentInfo.student.studentId}}',$index)" class="btn-blue btn fr margin-l-10"  onClick="window.location=''" value="编辑"/>
  	 </h3>
  	 <h3 id='examStat' class="padded-b-10   padded-t-10 text-default">总分
  	 	 <h4 class="padded-b-3 text-default">
	  	 	 <span class="padded-4b ">最高:${max}</span>
	  	 	 <span class="padded-4b">最低:${min}</span>
	  	 	 <span class="padded-4b ">平均:${avg}</span>
  	 	 </h4>
  	 </h3>
  	 <div id="data" class="content" ng-repeat="studentInfo in studentList">
  	 	<h3 class="padded-b-10 border-b  padded-t-10 text-default">{{studentInfo.student.studentName}}
  		 	<span class="padded-4b" style="font-size:12px;">总分:{{studentInfo.total}}</span>
  		 	<!-- 家长拥有权限 -->
  		 	<input ng-if="${wxUser.isParent}" type="button" ng-click="editExamGrade('{{studentInfo.student.studentId}}',$index)"   class="btn-blue btn fr margin-l-10 studentBut" value="编辑"/>
  		 </h3>
  		 <table style="width:100%" >
            <tbody >
            <tr  ng-repeat="grade in studentInfo.grade"><td>{{grade.subjectTitle}}:{{grade.gradeValue}}</td><!-- <td  >{{grade.gradeValue}}</td> --><td>最高:{{grade.max}}</td><td>最低:{{grade.min}}</td><td>平均:{{grade.avg}}</td></tr>
            </tbody>
        </table>
  	 </div>
</div>
 <!--  <div class="row">
    <div  class=" btnbox padded-t-10 padded-b-10"> ${wxUser.currentClass.className} ${exam.examTitle} </div>
    <div class="hr"></div>
    <div class=" padded-t-10 padded-b-10">
      <div class="padded-t-5 border-b padded-b-5" ng-repeat="studentInfo in studentList">
        <div class="flex font-size-14"><span class="padded-r-5">{{studentInfo.student.studentNo}}</span><span class="padded-r-5 wid3">{{studentInfo.student.studentName}} 总分:{{studentInfo.total}}</span></div>
        <div  class="flex"><a href="#" ng-click="editExamGrade('{{studentInfo.student.studentId}}',$index)" class="btn fr bg-info">
        <span ng-show="{{studentInfo.total>0}}">
        编辑
        </span>
         <span ng-show="{{studentInfo.total==0}}" class="bg-success">
        添加
        </span>
        </a></div>
        <div ng-if="${wxUser.isParent}" class="flex"><a href="#" ng-click="editExamGrade('{{studentInfo.student.studentId}}',$index)" class="btn fr bg-info">
        <span >
        编辑
        </span>
        </a></div>
        <div class="btnbox margin-l-10 padded-t-5 font-size-13 text-auxiliary">
	        <div class="flex" ng-repeat="grade in studentInfo.grade"><span class="padded-r-5">{{grade.subjectTitle}} {{grade.gradeValue}}</span></div>
        </div>
      </div>
      
      
    <div class="margin-t-15 margin-b-15 text-right">
      <input type="button" class="btn padded-l-20 padded-r-20 btn-white" onClick="window.location='/dw/mobile/W/examList'" value="返回"/>
    </div>
  </div>
</div> -->
<!--老师最高分 最低分 平均分 -->
<div class="Nboxbg" ng-show="showTeacherExamGrade==true"></div>
<div class="tuan-select" id="teacherDiv" ng-show="showTeacherExamGrade==true" style="height:100%;overflow:hidden;overflow:scroll;">
 <div class="margin-15 clearfix">
 <div class="weui_cells" >
 <div class="weui-cell__hd">总分</div>
 	<div class="weui-cell">
        <div class="weui-cell__bd">最高分:
           <input class="weui-input" type="number"  pattern="[0-9]*" ng-model="gradeInfo.max"/>
        </div>
        <div class="weui-cell__bd">最低分:
            <input class="weui-input" type="number" pattern="[0-9]*" ng-model="gradeInfo.min"/>
        </div>
        <div class="weui-cell__bd">平均分:
            <input class="weui-input" type="number" pattern="[0-9]*" ng-model="gradeInfo.avg"/>
        </div>
    </div>
 </div>
 <div class="font-size-14 btnbox padded-t-10" ng-repeat="examGrade in studentInfoStat">
 	 <div class="weui_cells" >	
 	 		 <div class="weui-cell__hd">{{examGrade.subjectTitle}}</div>
 		     <div class="weui-cell">
                <div class="weui-cell__bd">最高分:
                   <input class="weui-input" type="number" pattern="[0-9]*"  ng-model="examGrade.max"/>
                </div>
                <div class="weui-cell__bd">最低分:
                    <input class="weui-input" type="number" pattern="[0-9]*"  ng-model="examGrade.min"/>
                </div>
                <div class="weui-cell__bd">平均分:
                    <input class="weui-input" type="number"  pattern="[0-9]*" ng-model="examGrade.avg"/>
                </div>
            </div>
      </div>
 	</div>
      <input type="button" class="fr btn wid4"  ng-click="close()" value="关闭"/>
      <input type="button" class="fr btn bg-success wid4 margin-r-10" ng-click="save(1)" value="确定"/>
      <!--input type="button" class="fr btn bgdefault text-default wid4"  onClick="window.location='index.html'" value="已结束"/--> 
    </div>
 </div>
</div>
<!--弹出框背景-->
<div class="Nboxbg" ng-show="showExamGradeList==true"></div>
<div class="tuan-select" id="examGradeDiv" ng-show="showExamGradeList==true" style="height:100%;overflow:hidden;overflow:scroll;">
  <div class="margin-15 clearfix">
    <div class="font-size-14 btnbox padded-t-10" ng-repeat="grade in currentStudentInfo.grade">
	      <!--   <span>{{examGrade.subjectTitle}}</span>
	        <div class="wid1_5 subject margin-l-5 padded-l-3 margin-r-5 border bgdefault">
	          <input type="text" value="" class="border font-size-13" ng-model="examGrade.gradeValue"/>
	        </div> -->
	       <!--  <div class="weui-cells">
            <div class="weui-cell">
              <div class="weui-cell__hd"><label class="weui-label">{{examGrade.subjectTitle}}</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  ng-model="examGrade.gradeValue"/>
                </div>
            </div>
        </div> -->
        <div class="weui-cells">
        	 <div class="weui-cell">
                <div class="weui-cell__hd">{{grade.subjectTitle}}:</div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number"  pattern="[0-9]*"  ng-model="grade.gradeValue"/>
                </div>
            </div>
        </div>
    </div>
   <!--  <div class="hr margin-b-10 margin-t-10"></div> -->
    <div class="padded-5 clearfix"><span>合计：</span><span class="text-danger">{{examGradeTotal()}}</span>
      <input type="button" class="fr btn wid4"  ng-click="close()" value="关闭"/>
      <input type="button" class="fr btn bg-success wid4 margin-r-10" ng-click="save(0)" value="确定"/>
      <!--input type="button" class="fr btn bgdefault text-default wid4"  onClick="window.location='index.html'" value="已结束"/--> 
    </div>
  </div>
</div>
</div>
</body>
</html>
