<!DOCTYPE HTML>
<html ng-app="app">
<head>
<title>家庭作业</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>

<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/public/css/main.css" />
<link rel="stylesheet" href="/public/css/weui.css" />
<script src="/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/public/widgets/dropload/dropload.min.js"></script>
<script src="/public/widgets/angularjs/angular.min.js"></script>
<script src="/public/widgets/angularjs/angular-touch.min.js"></script>
<script>

        angular.module('app', ['ngTouch'])
                .value('appValue', {
                    index: 1,
                    size: 10
                })
                .factory('agentRemote', ['$http', 'appValue', function ($http, appValue) {
                    return {
                    	queryHomework: function(index, size, searchText) {
                            return $http({
                                method: 'GET',
                                url: '/mobile/WorkService/queryHomeworkList',
                                params: {
                                    PAGE_INDEX: index || appValue.index,
                                    PAGE_SIZE: size || appValue.size
                                }
                            })
                        }
                    }
                }])
                 .factory('delRemote',['$http', 'appValue',function($http, appValue){
                	return {
                		delDate :function(homeWorkId){
                			return $http({
                				method:'POST',
                				url:'/mobile/WorkService/delHomeWork',
                				params:{
                					homeWorkId:homeWorkId
                				}
                			});
                		}
                	}
                }])
                .controller('MainController', ['$scope', 'appValue','agentRemote','delRemote','$timeout', function ($scope, appValue,agentRemote,delRemote,$timeout) {
                	$scope.homeworkTotal = 0;
                    $scope.homeworkList = [];
                    $scope.homeWorkObj = {
                    		homeWorkId:'',
                    		homeWorkTitle:''
                    }
                	//init page function
                    $scope.initPage = function (me) {
                		console.log("考试列表")
                        appValue.index = 1;
                        agentRemote.queryHomework(1).then(function (response) {
                            $scope.homeworkTotal = response.data.data.total;
                            $scope.homeworkList = response.data.data.data;
                            console.log($scope.homeworkList);
                            if (me && me.resetload)
                                me.resetload();

                        }, function (response) {
                            //err
                        });
                	};
                	 $scope.showFade = function(id,title){
                      	$scope.homeWorkObj.homeWorkId = id;
                      	$scope.homeWorkObj.homeWorkTitle = title;
                      	$("#dialog_title").html("确定删除,"+$scope.homeWorkObj.homeWorkTitle+"吗？")
                          $('#iosDialog1').fadeIn(200);
                      }
                      $scope.hideFade = function(){
                      	$('#iosDialog1').fadeOut(200);
                      }
                      $scope.del = function(me){
                      	delRemote.delDate($scope.homeWorkObj.homeWorkId).then(function(response){
                      		 $scope.initPage();
                      	},function(){
                      	});
                      	$('#iosDialog1').fadeOut(200);
                      }
                	//执行初始化方法
                	$scope.initPage();
                }]);
    </script>
</head>

<body ng-cloak ng-controller="MainController">
<div class="main">
  <div class="row">
    <h3 class="padded-b-10 border-b  padded-t-10 text-default">每周作业
      <input ng-if="${wxUser.isTeacher} || ${wxUser.isCommittee}" type="button" class="btn-blue btn fr margin-l-10" onClick="window.location='/mobile/W/homeworkAdd'" value="发布作业"/>
    </h3>
    <div class="content">
      <div class="clearfix posrel" ng-repeat="homeworkInfo in homeworkList"> 
       <h3 class="padded-t-10 font-weight-b ellipsis-2 text-main">
       【{{homeworkInfo.subjectTitle}}】{{homeworkInfo.homework.homeworkTitle}}
       	<a id="showIOSDialog1"ng-if="${wxUser.isTeacher} || ${wxUser.isCommittee}"   href="javascript:;" ng-click="showFade('{{homeworkInfo.homework.homeworkId}}','{{homeworkInfo.homework.homeworkTitle}}')"  class="weui-btn weui-btn_mini weui-btn_warn">删除</a>
       </h3>
      <a href="/mobile/W/homeworkDetail?homeworkId={{homeworkInfo.homework.homeworkId}}">
        <div class=" wid80">
          <p class="margin-t-10 ">{{homeworkInfo.homework.homeworkContent}}</p>
          <p class="margin-b-10 font-size-12 text-auxiliaryed">布置时间：{{homeworkInfo.homework.createTime}}</p>
        </div>
        <div class="right-btn wid3 homework_model" ng-show="{{homeworkInfo.modelCount>0}}">
          <img src="/public/images/mobile/homework_model.png"/>
        </div>
        </a> 
        <div class="hr"></div>
        </div>
      
      
      <div class="dropload-down">
        <div class="dropload-refresh">上拉加载更多</div>
      </div>
    </div>
  </div>
</div>
<div id="dialogs">
        <!--BEGIN dialog1-->
        <div class="js_dialog" id="iosDialog1" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title">删除提示</strong></div>
                <div class="weui-dialog__bd" id="dialog_title"></div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" ng-click="hideFade()" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                    <a href="javascript:;" ng-click="del()"class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                </div>
            </div>
        </div>
</div>
</body>
</html>
