<!DOCTYPE HTML>
<html ng-app="app">
<head>
<title>作业添加标榜</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>

<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/dw/public/css/main.css" />

 <script src="/dw/public/widgets/layer.m/layer.m.js"></script>
<script src="/dw/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/dw/public/widgets/dropload/dropload.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular.min.js"></script>
<script src="/dw/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
var openId = 'oxh64jkHZeWtbUYc2AMqDc0HiJZg';
var vnoId = '1';
var params = [];
var url = window.location.href.split('#')[0];
var ajaxReturn = $.ajax({url:"/dw/Weixin/getWxSdkInfo", data: {url: url,openId:openId,vnoId:vnoId}});
ajaxReturn.done(function (data) {
	var appId = data.appId,
    signature = data.signature,
    timestamp = data.timestamp,
    nonce = data.nonce;
	 wx.config({
         debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
         appId: appId, // 必填，公众号的唯一标识
         timestamp: timestamp, // 必填，生成签名的时间戳
         nonceStr: nonce, // 必填，生成签名的随机串
         signature: signature,// 必填，签名，见附录1
         jsApiList: ['chooseImage', 'uploadImage', 'closeWindow', 'previewImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
     });
});
      angular.module('app', ['ngTouch'])
                .value('appValue', {
                    index: 1,
                    size: 10
                })
                .factory('valid',function(){
                	return {
                		remarkInfo:function(obj){
                			if(obj.remark == ''){
                				 return {flag: false, msg: '评语不能为空'}
                			}
                			return {flag: true, msg: '验证通过'};
                		}
                	}
                })
                .factory('agentRemote', ['$http', 'appValue', function ($http, appValue) {
                    return {
                    	saveRemark: function(remark) {
                    		//上传照片得到对应id
                            return $http({
                                method: 'GET',
                                url: '/dw/mobile/WorkService/saveHomeworkRemark',
                                params: {
                                	remark:remark
                                }
                            })
                        }
                        
                    }
                }])
                .factory('showPhoto',function(){
                	return {
                		getPhoto:function(id){
                			wx.getLocalImgData({
                			    localId: id, // 图片的localID
                			    success: function (res) {
                			        var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
                			        document.getElementById("imgs").src = localData;
                			    }
                			});
                		}
                	}
                })
                .controller('MainController', ['$scope', 'appValue','valid','agentRemote','showPhoto','$timeout', function ($scope, appValue,valid,agentRemote,showPhoto,$timeout) {
                	//init page function
                	$scope.remark = {
                			homeworkId:'',
                			remark:'',
                			image:''
                	};
                    $scope.initPage = function (me) {
                		console.log("初始化标榜");
                		$scope.remark.homeworkId=${homeworkId};
                    };
                    $scope.initPage();
                    $scope.saveRemark = function(){
                    	var vaildRes = valid.remarkInfo($scope.remark);
                    	if(vaildRes.flag){
                    		if(params.length ==0){
                    			 layer.open({
                                     content: '请上传标榜图',
                                     btn: ['知道了']
                                 });
                    			 return;
                    		}
                    		$scope.remark.image=params;
                    		agentRemote.saveRemark($scope.remark).then(function (res) {
                   			  if (res.data.ret == '-1') {
                                     layer.open({
                                         content: res.data.desc,
                                         btn: ['知道了']
                                     });
                               }else{
                            	   $scope.remark = res.data.data;
                                   layer.open({
                                       content: '发布成功',
                                       btn: ['确定'],
                                       end: function () {
                                           location.href = "/dw/mobile/W/homeworkDetail?homeworkId=${homeworkId}";
                                           params = [];
                                       }
                                   });
                               }
                               //window.location = "/mobile/W/homeworkDetail?homeworkId=${homeworkId}";
                            }, function (response) {
                                //err
                            	 layer.open({
                                     content: '提交异常',
                                     btn: ['知道了']
                                 });
                            }).finally(function () {
                                layer.close(index);
                            });
                    	}else{
                    		layer.open({
                                content: vaildRes.msg,
                                btn: ['知道了']
                            });
                    	}
                    	
                    };
                    $scope.chooseImage = function(){
                    	var imageList = [];
                       // 选择张片
                        wx.chooseImage({
                            count: 1, // 默认9
                            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                            success: function(res) {
                                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                                wx.uploadImage({
                                    localId: localIds[0],
                                    isShowProgressTips: 1,
                                    success: function (res) {
                                        var serverId = res.serverId; // 返回图片的服务器端ID
                                        $.ajax({url:'/dw/mobile/A/uploadLogo',data:{
                                            url:serverId,openId:openId
                                        }}).done(function(res){
                                            if (res.ret=="0"&&res.data) {
                                            	//showPhoto.getPhoto(localIds[0]);//展示图片
                                                params = res.data;
                                                $("#imgs").attr("src",'/dw'+res.data);
                                            }else{
                                            	//上传失败
                                            	layer.open({
                                                    content: res.desc,
                                                    btn: ['知道了']
                                                });
                                            }
                                        }).fail(function(){
                                            layer.open({
                                                content: '上传失败,请稍后再试',
                                                btn: ['知道了']
                                            });
                                        })
                                    },
                                    error: function () {
                                        layer.open({
                                            content: '上传失败,请稍后再试',
                                            btn: ['知道了']
                                        });
                                    }
                                });
                            }
                        });
                    }
                }]);
    </script>
</head>
<body  ng-cloak ng-controller="MainController">
<div class="main">
  <div class="row">
    <h3 class="padded-b-10 padded-t-20">标榜图<span class="text-pink padded-l-5">*</span></h3>
    <div class="padded-5 btnbox">
    	<img src=" "  id="imgs" data-gid="g2" data-index="1"  >
    </div>
    <div class="padded-5 btnbox">
      <!--  <input type="file" style="/* visibility: hidden */" capture="camera" accept="image/*,video/*" value="拍照上传" class="btn btn-white"/> -->
    	 <input type="button" value="拍照上传" ng-click="chooseImage()" class="btn btn-white"/>
    </div>
    <h3 class="padded-b-10 padded-t-20">评语<span class="text-pink padded-l-5">*</span></h3>
    <div class="border padded-5">
    	<textarea class="height5" ng-model="remark.remark">请输入评语</textarea>
    </div>
    <h3 class="padded-b-10 padded-t-20" ng-show="false">学生<span class="text-pink padded-l-5">*</span></h3>
    <div class="border padded-5 posrel"  ng-show="false"><span>选择学生</span><div class="tabbtn wid2 top0"><img src="../images/down.png" /></div>
    </div>
    <div class="margin-t-15 margin-b-15 btnbox">
	    <input type="button" class="btn btn-white line-height-2" onClick="window.location='/dw/mobile/W/homeworkDetail?homeworkId=${homeworkId}'" value="取消"/>
	    <input type="button" class="btn btn-blue line-height-2 margin-l-15" ng-click="saveRemark()" value="发布标榜"/>
    </div>
  </div>
</div>
</body>
</html>
